@model IEnumerable<Menulog.Models.RestaurantListViewModel>
@{
    ViewBag.Title = "Home Page";
}

<form  method="get">
    <input type="text" name="searchTerm">
    <input type="submit" name="Search By Name"/>
</form>

<div>@ViewBag.Message</div>

@foreach (var item in Model)
{
    <h4>@item.Name</h4>
    <div>@item.City, @item.Country</div>
    <div>@item.CountOfReviews</div>
    <hr />
}